
<h1>Práctica Emet</h1>
<p>Los siguientes elementos se han creado con el siguiente atajo: <strong>div.container#container>h1&#123;Titulo 1&#125;+ul>li&#123;item $&#125;*5^h2ç0&#123;Titulo 2&#125;+p&#123;lorem*2&#125;</strong> </p>

<div class="container" id="container">
  <h1>Titulo 1</h1>
  <ul>
    <li>item 1</li>
    <li>item 2</li>
    <li>item 3</li>
    <li>item 4</li>
    <li>item 5</li>
  </ul>
  <h2>Titulo 2</h2>
  <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Voluptates ratione qui, eum odit consectetur, esse nostrum provident voluptate, praesentium ducimus illum vitae corporis expedita nobis ipsam est autem cumque non!
  Itaque quam ducimus totam accusamus praesentium, officia recusandae nam. Voluptatibus libero sunt consectetur sed neque inventore blanditiis, eveniet natus tenetur incidunt facilis? Ut est voluptate delectus voluptatibus animi non exercitationem.</p>
</div>
